# ignore everything
*
!*/

# unignore github and curseforge  files
!.gitignore
!config.json
!.gitattributes
!.github/**

!/config/**
/config/valkyrienskies/**
/config/jei/world/local/**
!/mods/.index/**